*{
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    background-color: aqua;
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    
    
}

.container{
    padding-top: 5vh;
}
.content{
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    
}
